celery==4.4.6  # pyup: < 5.0,!=4.4.7  # https://github.com/celery/celery
django-celery-beat>=2.0.0  # https://github.com/celery/django-celery-beat
redis>=3.5.0  # https://github.com/antirez/redis
tenacity>=6.3.1  # https://github.com/jd/tenacity
