celery>=5.1.2  # pyup: < 6.0  # https://github.com/celery/celery
django-celery-beat>=2.0.0  # https://github.com/celery/django-celery-beat
redis>=3.5.0  # https://github.com/antirez/redis
tenacity>=6.3.1  # https://github.com/jd/tenacity
